---
import { Heart } from "@lucide/astro";
import { HoverTilt } from "hover-tilt";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export interface Song {
    title: string;
    album: string;
    // link: string;
    imagePath: string;
    rating: number;
    length: string;
}

interface Props {
    name: string;
    imagePath: string;
    songs: Song[];
    accent: string;
}

const { name, imagePath, songs, accent = "ctp-blue" } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/music/*.{jpg,png,webp}",
);
---

<div class="flex flex-col items-center">
    <Image
        src={images[imagePath]()}
        alt={name}
        class="mask-[url(/circle.png)] mask-center mask-cover relative w-20 h-20"
    />
    <div
        class={`border-${accent}` +
            " border-2 rounded-md font-display px-2 -mt-4 shadow-box bg-ctp-crust transform-[rotate(-2deg)] relative z-10"}
    >
        {name}
    </div>
    <div>
        {
            songs.entries().map(([i, song]) => (
                <div class="scale-90">
                    <HoverTilt
                        client:load
                        class="rounded-md"
                        style={`transform: translateY(-${8 + i * 4}px) rotate(${i % 2 == 0 ? "1.5" : "-1.5"}deg);`}
                    >
                        <div class="relative -z-10 shadow-box border-1 rounded-md border-ctp-overlay0 bg-ctp-surface0 flex gap-3 *:hover:cursor-default">
                            <!-- album art -->
                            <div class="px-1 py-1">
                                <Image
                                    src={images[song.imagePath]()}
                                    alt={song.title}
                                    class="rounded-md w-10 h-10"
                                />
                            </div>
                            <!-- song -->
                            <div class="grow flex flex-col my-auto min-w-16 *:leading-3.5">
                                <h3 class="font-display">{song.title}</h3>
                                <h5 class="text-ctp-subtext0">{song.album}</h5>
                            </div>
                            <!-- length -->
                            <div class="flex flex-col my-auto pr-1">
                                <div class="-mb-1 text-sm text-ctp-subtext0 text-right">
                                    {song.length}
                                </div>
                                <div class="flex flex-row-reverse gap-0.5">
                                    {new Array(song.rating).fill(0).map(() => (
                                        <Heart
                                            class={`w-4 text-ctp-red fill-ctp-red`}
                                        />
                                    ))}
                                </div>
                            </div>
                        </div>
                    </HoverTilt>
                </div>
            ))
        }
    </div>
</div>
