---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Album from "../components/music/Album.astro";
import { getCollection } from "astro:content";

const music = await getCollection("music");
console.log(music);
---

<Layout title="music" accent="ctp-sky" returnHome>
    <div slot="body" class="relative">
        <div class="prose">
            <h1>music i like</h1>
        </div>

        <div class="flex gap-2">
            {music.length == 0 && <p>no music found :(</p>}
            {
                music.map((album) => (
                    <Album
                        title={album.data.title}
                        artist={album.data.artist}
                        year={album.data.year}
                        localImage={album.data.localImage}
                        remoteImage={album.data.remoteImage}
                        songs={[]}
                    />
                ))
            }
        </div>
    </div>
</Layout>
