---
import { GitBranch } from "@lucide/astro";
import { BASE_GITHUB, COMMIT_HASH, COMMIT_MSG } from "astro:env/client";
import { Image } from "astro:assets";
import SvelteIcon from "../assets/icon/svelte.svg";
import AstroIcon from "../assets/icon/astro.svg";
import TailwindIcon from "../assets/icon/tailwind.svg";
const commitShort = COMMIT_HASH.substring(0, 7);
---

<script>
    import { COMMIT_TIME } from "astro:env/client";
    import { getRelativeTime } from "../scripts/util.mjs";
    // @ts-ignore
    document.querySelector("#commitTime").innerText =
        `(${getRelativeTime(COMMIT_TIME)})`;
</script>

<img
    src="https://count.getloli.com/@:towelcodes?theme=3d-num"
    width="150"
    class="mx-auto"
/>
<footer
    class="text-center
    align-text-bottom
    font-pixel
    text-ctp-overlay0
    my-4 leading-1
    pb-4
    text-xs"
>
    hand coded by me <br />
    <div class="flex justify-center items-center gap-2">
        <GitBranch class="w-3" />
        <a
            href={BASE_GITHUB}
            class="underline"
            target="_blank"
            data-tooltip="asdawdawfoijaef"
        >
            {commitShort}
            <span class="no-underline!" id="commitTime"></span>
        </a>
    </div>
    <div class="flex gap-2 my-2 items-center justify-center">
        <Image src={AstroIcon} alt="" height="14" />
        <Image src={SvelteIcon} alt="" height="16" />
        <Image src={TailwindIcon} alt="" width="16" />
    </div>
</footer>
