---
import Yuuri from "../assets/bg/yuuri.png";
import { Image } from "astro:assets";
import NavItem from "../components/NavItem.astro";
import { Github } from "@lucide/astro";
import DiscordIcon from "../assets/icon/discord.svg";
import Title from "../components/Title.astro";
const { title, accent = "ctp-green" } = Astro.props;
---

{accent == "ctp-green" &&
  <style>
      :root {
          --accent: var(--color-ctp-green) !important;
      }
  </style>
}

{accent == "ctp-sky" &&
  <style>
      :root {
          --accent: var(--color-ctp-sky) !important;
      }
  </style>
}

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="color-scheme" content="dark" />
        <meta name="theme-color" content="#11111b" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon-dark.svg"
            media="screen and (prefers-color-scheme:dark)"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon-light.svg"
            media="screen and (prefers-color-scheme:light)"
        />
        <meta name="generator" content={Astro.generator} />
        <script
            is:inline
            defer
            src="https://analytics.towel.codes/script.js"
            data-website-id="21fd41b9-3595-4a05-9bcd-58fd11db1d1b"></script>
        <title>teatowel's {title}</title>
    </head>
    <body class="mocha">
        <div class="flex">
            <main class="grow m-4 container lg:max-w-3xl! mx-auto">
                <!-- page title and nav -->
                <Title title={title} accent={accent}>
                    <NavItem name="github" url="https://github.com/towelcodes">
                        <Github />
                    </NavItem>
                    <NavItem name="discord" url="https://discord.com" accent={accent}>
                        <Image src={DiscordIcon} alt="Discord icon" />
                    </NavItem>
                </Title>

                <!-- main content -->
                <section
                    class="relative border-2 border-ctp-surface1 rounded px-6 pt-6 pb-4 backdrop-blur-sm shadow-box"
                >
                    <slot name="body" />
                </section>
            </main>
        </div>

        <Image
            src={Yuuri}
            alt=""
            class="hidden md:block fixed bottom-0 right-0 -z-10 opacity-90"
            width="256"
        />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
